@import 'src/styles/settings.scss';

.product-summary {
    display: inline-block;

    .card {
        border-bottom: 1px solid $color-textfield-border;
        padding: $base-size;
        text-align: center;
           
        .card-body {

            .additional-info {
                color: $color-secondary;
                font-weight: 300;
            }

            .btn-secondary {
                @include button;
            }

            .card-title {
                font-weight: bold;
            }
        }
    }    
}