@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');

$color-text: #333;
$color-text-light: #666;
$color-text-bright: #fff;
$color-primary: #028da8;
$color-secondary: #b51457;
$color-background: #fff;
$color-background-grey: #fafafa;



$color-textfield-border: #ddd;
$color-editor-border: #ccc;
$color-editor-border-light: #ddd;

$font-header: 'Lato', sans-serif;
$font-text: 'Lato', sans-serif;

$radius: 5px;
$base-size: 15px;
$transition: all 0.5s;

@mixin p-el($element) {
  &:#{$element}, &::#{$element} {
    position: absolute;
    @content;
  }
}

@mixin button {
    background-color: $color-primary;
        border: 1px solid $color-primary;
        border-radius: 5px;
        height: 2em;
        &:hover {
            background-color: $color-secondary;
            border: 1px solid $color-secondary;
        }

        a {
            color: white;
            margin: $base-size;
            font-size: 0.8em;
        }
    }

@mixin button_hover {
  color: white;
                font-size: 0.8em;
                cursor: pointer;
                min-height: 40px;
}