@import 'src/styles/settings.scss';

.single-product {
    width: 90%;
    margin: 0 auto;
    padding: $base-size $base-size * 2;

    .card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    border: 1px solid $color-editor-border-light;

        img {
            width: 300px;
            margin-right: $base-size;
        }

        .card-body {
            margin: $base-size;
            
            .btn-secondary {
                @include button;
                @include button_hover; 
            }

            .additional-info {
                color: $color-secondary;
                font-weight: 300;
            }

            .card-title {
                font-weight: 300;
                font-size: 1.2em;
            }
        } 
    }
}

.modal {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    background-color: $color-background-grey;
    border: 1px solid $color-primary;
    border-radius: $radius;  
    
    
    .modal-content {
        margin: $base-size;

        .modal-body {
            padding-bottom: $base-size;
        }

        .modal-footer {
            display: flex;
            justify-content: flex-end;

            .btn-secondary {
                @include button;
               @include button_hover;
            }
        }   
    }
}