@import 'src/styles/settings.scss';

.cart {
    padding: 2*$base-size;

    .row {
        padding: $base-size 0;
    
        button {
            @include button;
            @include button_hover;
        }

        table {
            background-color: $color-background-grey;
            color: $color-text;
            width: 100%;
        
            thead {
                background-color: $color-primary;
                color: white;  
            }

            .btn-secondary {
                @include button
            }

            .cart-summary {
                font-weight: bold;
            }

            .quantity {
                padding-left: $base-size;
            }

            .items-quantity {
                margin: 0 $base-size;
            }

            button {
                @include button_hover;
                @include button;
            }
        }

        .btn-secondary {
            @include button
        } 
    }
}