@import 'src/styles/settings.scss';

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    .logo {
        height: 50px;
        width: auto;
    }

    li {

        a {

            .fa-shopping-basket {
                color: $color-secondary;
            }
        }
    }
}