@import 'src/styles/settings.scss';

.pagination {
    margin: 0 $base-size;
    float: right;
  
    .pagination-list {
      display: flex;
      font-size: $base-size * 1.5;
  
      .pagination-list-item {
        display: block;
        margin: $base-size;
        display: flex;
        justify-content: center;
        cursor: pointer;
        border-radius: $radius;
        transition: .2s;
        color: $color-text-light;
  
        &:hover {
          color: $color-primary;
        }
  
        &-active {
          color: $color-primary;
        }
      }
  
    }
  }
 